body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

#game-result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.reset-score-btn {
  background-color: white;
  color: black;
  padding: 8px 15px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.game-score {
  margin-top: 60px;
}